.content-wrap {
	margin: 0;
	padding: 0 0 0 40px;
	box-sizing: border-box;
	max-width: 95vw;
	overflow: scroll;
	@include toggle-transition();

	.content-block {
		border-radius: 8px;
		background: $color-white;
		width: 100%;
		min-width: 300px;
		height: fit-content;

		@include z-depth(6);

		.fake-content {
			margin: 0;
			padding: 40px;
			box-sizing: border-box;

			.fake-content__item {
				justify-content: flex-start;
				max-width: 45%;
				align-items: baseline;

				img {
					width: 100%;
				}
			}

			#fake-one {
				order: 0;
				max-width: 60%;
			}
			#fake-two {
				order: 1;
			}
			#fake-three {
				order: 2;
			}
			#fake-four {
				order: 3;
				max-width: 57%;
			}
		}
	}
}
