/*TODO:
 * - add class for focus and active to actions on header menu
 * - add open user setting pop over
 * - add link <a> tag for breadcrumb and back button
 * - add link on logo header
 */

.header-wrap {
	.header-block {
		width: 100%;

		.header-block__main, .header-block__sub {
			width: 100%;
			padding: 0 40px;
		}

		.header-block__main {
			height: 60px;
			background: $color-secondary;
			z-index: 20;

			@include z-depth(8);

			.header-logo {
				max-width: 200px;

				.header-logo__image {

					img {
						width: 80%;
					}
				}
			}

			.header-opt {

				.header-opt__actions {

					.actions-list {
						color: $color-white;
						font-weight: 700;
						margin-right: 40px;

						.actions-list__item {
							padding: 10px;
							margin: 0 5px;

							a {
								color: $color-white;
							}

							img {

							}

						}
					}
				}

				.header-opt__user {

					.user-picture {


						img {
							width: 80%;
							height: 80%;
							border-radius: 50%;
						}
					}
				}
			}
		}

		.header-block__sub {
			height: 35px;
			background: $color-tertiary;

			a, span {
				color: $color-dark;
			}

			a {
				text-decoration: underline;
			}
		}
	}
}
