/*TODO:
 * - add class for focus and active to actions on header menu
 * - add open user setting pop over
 * - add link <a> tag for breadcrumb and back button
 * - add link on logo header
 */

.header-wrap {
	min-width: 350px;
	width: 100%;
	margin-bottom: 40px;
	order: 0;

	.header-block {
		width: 100%;

		.header-block__main, .header-block__sub {
			width: 100%;
			padding: 0 40px;
		}

		.header-block__main {
			height: 60px;
			background: $color-primary;
			z-index: 20;

			@include z-depth(8);

			.header-logo {

				.header-logo__menu {
					display: none;
					color: $color-white;
					vertical-align: middle;
					margin-right: 20px;
					cursor: pointer;
				}

				.header-logo__image {
					max-width: 200px;

					img {
						width: 80%;
					}
				}
			}

			.header-opt {

				.header-opt__actions {

					.actions-list {
						color: $color-white;
						font-weight: 700;
						margin-right: 40px;
						font-size: $font-size-nm;

						.actions-list__item {
							padding: 10px;
							margin: 0 5px;

							a {
								color: $color-white;
							}

						}
					}
				}

				.header-opt__user {

					.user-picture {

						img {
							width: 80%;
							height: 80%;
							border-radius: 50%;
						}
					}

					.open-user-menu {
						cursor: pointer;
					}

					i {
						color: $color-white;
						@include toggle-transition();
					}
				}

				.header-opt__popover {
					display: none;
					max-width: 0;
					max-height: 0;

					&.header-opt__popover___open {
						display: flex;
						position: relative;
						align-self: flex-end;

						.user-popover {
							width: 180px;
							position: absolute;
							top: 10px;
							right: 0;
							padding: 0;
							box-sizing: border-box;
							border-radius: 2px;
							background: $color-white;

							@include z-depth(16);

							&:before {
								/* block anchored arrow, triangle */
								/* content: " ";
								position: relative;
								width: 0;
								height: 0;
								border-left: 5px transparent;
								border-right: 5px transparent;
								border-bottom: 5px solid $color-white; */
							}

							.user-popover__list {
								color: $color-dark;
								font-size: $font-size-sm;
								user-select: none;

								.user-popover__item {
									padding: 10px;

									&:hover {
										background: $color-secondary;
									}

									a {
										color: $color-dark;
										padding: 2px;
									}
								}
							}
						}
					}
				}
			}
		}

		.header-block__sub {
			height: 35px;
			background: $color-secondary;
			font-size: $font-size-sm;

			a, span, i {
				color: $color-dark;
			}

			a {
				text-decoration: underline;
			}
		}
	}
}
