/*TODO:
 * - add function for close menu
 * - create class for click/active and focus buttons
 */

.menu-wrap {
	max-width: 280px;
	width: 30vw;

	@include toggle-transition();

	&.menu-wrap___closed {
		@include toggle-translate($dis: -80%);
	}

	.menu-block {
		border-radius: 0 8px;
		background: $color-primary;
		min-width: 250px;
		width: 100%;
		height: 100%;
		z-index: 5;

		@include z-depth(6);

		.menu-block__header {
			padding: 0 15px;
			margin: 0 0 5px 0;
			background: $color-primary-dark;
			height: 35px;
			color: $color-white;
			border-radius: 0 8px 0 0;
			font-size: $font-head-sm;

			i {
				cursor: pointer;
			}
		}

		.menu-block__info {
			background: transparent;
			height: 140px;
			z-index: 10;
			margin: 10px 0;

			.toggle-patient {
				position: relative;

				i {
					position: absolute;
					right: 15px;
					top: 0;
					color: $color-white;
					cursor: pointer;
				}
			}

			.patient-pic {
				background: $color-gray;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				max-width: 120px;
				max-height: 120px;
				margin: 5px 0 15px 0;

				img {
					width: 85%;
				}
			}

			.info-patient {
				margin: 0;
				color: $color-white;
				font-size: $font-size-sm;
				line-height: 1.2em;
			}
		}

		.menu-block__opt {
			background: $color-white;
			color: $color-dark;
			height: auto;
			z-index: 10;

			@include z-depth-2dp("-");

			.opt-list {
				width: 100%;
				font-size: $font-size-nm;

				.opt-list__item {
					box-sizing: border-box;
					padding: 17px 20px;
					width: 100%;
					color: $color-dark;

					i {
						margin-right: 12px;
					}

					.dropdown-icon {
						float: right;
						margin: 0;
					}

					&:hover {
						background: $color-gray;
						cursor: pointer;
					}
				}
			}
		}
	}
}
