/*TODO:
 * - Change transition text font-size, when oppened to direction
 * - Fix transition time on menu toggle
 */

.menu-wrap {
	max-width: 260px;
	width: 10vw;
	min-width: 230px;

	@include toggle-transition();

	&.menu-wrap___closed {
		@include toggle-translate($dis: -60%);
		max-width: 130px;
		min-width: 120px;

		.menu-block {
			justify-content: flex-end;
			min-width: 115px;

			.animate {
				display: block;
				transform: scale(0);
				transform-origin: left;
				max-width: 0;
				max-height: 0;

				&.leave {
					visibility: hidden;
					transition: none;
					font-size: 14px;
					opacity: 0;
				}
			}

			span, #patient-pic, .dropdown-icon {
				@include toggle-transition();
			}

			.menu-block__header {
				justify-content: flex-end;
				padding-left: 0;
			}

			.menu-block__info {
				height: 0;
				@include toggle-transition();
			}

			.menu-block__opt {
				justify-content: flex-end;

				.opt-list {
					.opt-list__item {
						text-align: right;
						margin: 0;
						padding-right: 15px;

						i {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.menu-block {
		border-radius: 0 8px;
		background: $color-primary;
		//min-width: 230px;
		width: 100%;
		height: 100%;
		z-index: 5;

		@include z-depth(6);

		.animate {
			opacity: 1;
			@include toggle-transition();
		}

		.menu-block__header {
			padding: 0 15px;
			margin: 0 0 5px 0;
			background: $color-primary-dark;
			height: 35px;
			color: $color-white;
			border-radius: 0 8px 0 0;
			font-size: $font-head-sm;

			i {
				cursor: pointer;
			}
		}

		.menu-block__info {
			background: transparent;
			height: 140px;
			z-index: 10;
			margin: 10px 0;
			@include toggle-transition;

			&.menu-block__info___closed {
				flex-direction: row;
				height: 40px;

				.toggle-patient {
					align-self: center;
					order: 3;

					@include toggle-transition;

					i {
						transform: rotate(180deg);
					}
				}
				#patient-pic {
					width: 30%;
					height: auto;
					order: 1;
				}
				.info-patient {
					order: 2;
					#patient-name {

					}
					.info-patient__details {
						display: none;
					}
				}
			}

			.toggle-patient {
				position: relative;

				i {
					position: absolute;
					right: 15px;
					top: 0;
					color: $color-white;
					cursor: pointer;
				}
			}

			.patient-pic {
				background: $color-gray;
				border-radius: 50%;
				width: 100%;
				height: 100%;
				max-width: 120px;
				max-height: 120px;
				margin: 5px 0 15px 0;

				img {
					width: 85%;
				}
			}

			.info-patient {
				margin: 0;
				color: $color-white;
				font-size: $font-size-sm;
				line-height: 1.2em;
			}
		}

		.menu-block__opt {
			background: $color-white;
			color: $color-dark;
			height: auto;
			z-index: 10;

			@include z-depth-2dp("-");

			.opt-list {
				width: 100%;
				font-size: $font-size-nm;

				.opt-list__item {
					box-sizing: border-box;
					padding: 17px 20px;
					width: 100%;
					color: $color-dark;

					i {
						margin-right: 12px;
					}

					.dropdown-icon {
						float: right;
						margin: 0;
					}

					&:hover {
						background: $color-gray;
						cursor: pointer;
					}
				}

				.opt-list__dropdown {
					display: none;

					&.opt-list__dropdown___open {
						display: flex;

						.dropdown-list {
							height: auto;

							.dropdown-list__item {
								@extend .opt-list__item;
							}
						}
					}

					.dropdown-list {
						heigth: 0;
						width: 100%;
					}
				}
			}
		}
	}
}
