.menu-wrap {
	max-width: 280px;
	width: 30vw;

	.menu-block {
		border-radius: 0 8px;
		background: $color-primary;
		min-width: 250px;
		width: 100%;
		height: 80vh;
		z-index: 5;

		@include z-depth(8);

		.menu-block__header {
			padding: 0 10px;
			background: $color-secondary;
			height: 40px;
			color: $color-white;
			border-radius: 0 8px 0 0;
			z-index: 20;

			@include z-depth(4);
		}

		.menu-block__info {
			background: transparent;
			height: 140px;
			z-index: 10;
		}

		.menu-block__opt {
			background: $color-white;
			color: $color-dark;
			height: auto;
			z-index: 10;

			@include z-depth-2dp("-");

			.opt-list {
				width: 100%;

				.opt-list__item {
					padding: 20px;

					i {
						margin-right: 12px;
					}

					&:hover {
						background: $color-tertiary;
						cursor: pointer;
					}
				}
			}
		}
	}
}