/*Colors*/
$color-primary: #1976d2;
$color-secondary: #004ba0;
$color-tertiary: #63a4ff;
$color-white: #f2f2f2;
$color-gray: #e1e2e1;
$color-dark: #4f4f4f;

/*Fonts*/
$font-size-nm: 16px;
$font-size-sm: 14px;
$font-size-xs: 12px;
$font-head-lg: 36px;
$font-head-nm: 24px;
$font-head-sm: 18px;
$font-head-xs: 16px;
